<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .card {
            transition: transform 0.2s;
        }
        .card:hover {
            transform: scale(1.05);
        }
    </style>
</head>
<body>
    <th:block th:include="/_header_on" th:if="${userdto.email}"></th:block>
    <th:block th:include="/_header_off" th:unless="${userdto.email}"></th:block>
    
   <!-- Sports Merchandise Section -->
<div class="container my-5">
    <h1 class="text-center mb-4">Sports Merchandise</h1>
    <div class="row">
        <!-- Product 1 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://bizweb.dktcdn.net/100/340/361/products/ao-thun-3-soc-future-icons-djen-ir9166-01-laydown.jpg?v=1724650755870" alt="Product Image 1" class="img-fluid" style="height: 250px; object-fit: cover;"/>
                <div class="card-body">
                    <h5 class="card-title">Áo Thun Nam</h5>
                    <p class="card-text">Áo thun thể thao nam</p>
                    <a href="/products/1" class="btn btn-primary">Buy Now</a>
                </div>
            </div>
        </div>
        <!-- Product 2 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnJWDlkeBc0r_WveklXijMAMZFHHt4g_x_aA&s" alt="Product Image 2" class="img-fluid" style="height: 250px; object-fit: cover;"/>
                <div class="card-body">
                    <h5 class="card-title">Quần Shorts Nữ</h5>
                    <p class="card-text">Quần Shorts Nữ</p>
                    <a href="/products/2" class="btn btn-primary">Buy Now</a>
                </div>
            </div>
        </div>
        <!-- Product 3 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTB9Nl8TDu93Ll33xdsqCZ1xUjeO9GcfJ0jyA&s" alt="Product Image 3" class="img-fluid" style="height: 250px; object-fit: cover;"/>
                <div class="card-body">
                    <h5 class="card-title">Giày Chạy Bộ</h5>
                    <p class="card-text">Giày chạy bộ</p>
                    <a href="/products/3" class="btn btn-primary">Buy Now</a>
                </div>
            </div>
        </div>
    </div>
</div>


    
    
    <!-- Topics Section -->
    <div class="container">
        <div class="row">
            <!-- Success message -->
            <div th:if="${param.success}">
                <div class="alert alert-info">You are successfully registered to our awesome app!</div>
            </div>

            <h1>Topics</h1>
            <table class="table table-striped table-success text-center" th:if="${topics.size() != 0}">
                <thead>
                <tr>
                    <th class="col-md-1">Answers</th>
                    <th class="col-md-4">Title</th>
                    <th class="col-md-2">Author</th>
                    <th class="col-md-2">Created</th>
                    <th class="col-md-1">Enter</th>
                    <th class="col-md-2">Action</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="topic : ${topics}">
                    <tr>
                        <td th:text="${commentcount.countComment(topic.id)}">Number of answers</td>
                        <td th:text="*{topic.title}">Topic's title</td>
                        <td>
                            <div class="chip" th:text="${topic.user.userDisplayName}">Topic's author</div>
                        </td>
                        <td th:text="*{topic.creationDate}">Topic's created date</td>
                        <td>
                            <a th:href="@{'/topic/' + ${topic.id}}" class="btn btn-floating pulse">
                                <i class="bi bi-arrow-right-square-fill"></i>
                            </a>
                        </td>
                        <td th:if="${userdto.email == topic.user.email}">
                            <button class="btn btn-primary text-white" type="button">
                                <a th:href="@{'/edit_topic/'+${topic.id}}" class="text-white">Edit</a>
                            </button>
                            <button class="btn btn-danger" type="button">
                                <a th:href="@{'/deletetopic/'+${topic.id}}" class="text-white" method=RequestMethod.GET>Delete</a>
                            </button>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
