<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <th:block th:include="/_header_on" th:if="${userdto.email}"></th:block>
<th:block th:include="/_header_off" th:unless="${userdto.email}"></th:block>
<div class="container">
    <h1>Product List</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.productId}"></td>
                <td th:text="${product.productName}"></td>
                <td th:text="${product.price}"></td>
                <td>
                    <a class="btn btn-info" th:href="@{/products/{id}(id=${product.productId})}">View</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>
